body {
  color: white;
  font-family: helvetica, sans-serif;
  font-size: 18px;
}

.container {
  max-width: 960px;
  margin: auto;
}

header {
  display: flex;
  align-items: center;
  background-color: black;
  height: 2.82rem;
}

header img {
  height: 1.5rem;
  padding-left: 0.5rem;
}

header span {
  padding-left: 1rem;
}

.banner-content {
  display: flex;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/moto.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 25rem;
  align-items: center;
  text-align: center;
  margin: 0 auto;
}

.text-box {
  max-width: 960px;
}

.text-content {
  background-color: black;
  font-size: 1rem;
  width: 20rem;
  text-align: left;
  margin: auto;
  padding: 2rem 3rem;
}
